body{
    background-color: #5f5f5f;
}
#main {
    /* padding: 20px;
    margin-top: 30px; */
    background-color: #3e3e3e;
    /* height: 1500px; */
}

div.head{
    display:inline-block;
    width: 18%;
    /* height:30px; */
    font-size: 30px;
    box-sizing: border-box;
    
    background-color: rgb(103, 103, 103);
    margin-top: 0.5%;
    padding:2%,0;
}
div.head > a{
    padding:10px;
}
div.R,div.R0{
    text-align: center;
    /* margin:2%;
    margin-top:0; */
    margin-left: 5%;margin-right: 2%;
} 
div.container{
    text-align: center;
    display:inline-block;
    width: 13%;
    height:100%;
    /* border:solid; */
    margin:0.5%;

}
div.subtitle,div.min{
    width:100%;
    padding-bottom: 1%;
    text-align: center;
    color:#ffffff;
}
div.subtitle{
    margin:0,1%,0.5%;
    background-color: #333;
    font-size: larger;
    font-weight: bolder;
}
div.min{
    box-sizing: border-box;
    height:auto;
    /* display:inline-block; */
    background-color: rgb(103, 103, 103);
    font-size:17px;
}
div.min > a,div.head > a{
    display:block;
}
div.min > a:hover,div.head > a:hover{
    background-color: cornflowerblue;
}


a{
    color: #ffffff;
}


/* .grid {
    background-color: rgba(80, 80, 80, 0.8);
    display:inline-block;
    /* border: 1px solid rgba(216, 216, 216, 0.8);  */
    text-align: center;
    padding:3%;
} */
div.subtitle{
    display: inline-block;
}
div.R{
    display:flex;
}

footer{
    color: #ffffff;
    text-align: center;
}
address{
    color:#ffffff;
}